.col-9
    %input.input-group(type="text" placeholder="Busqueda de empleados")
.col-1
    = link_to image_tag('busqueda(1).png'), root_path, class: "btn btn-primary"
.col-2.text-right
    = link_to "Cerrar sesión", destroy_company_session_path, method: :delete, class: "btn btn-danger"